#app-header{
    width: 100%;
    background: #5a96d4;
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;

    #company-name{
        font-weight: bold;
        font-size: 18px;
    }
}