<div id="profile">
    <app-header></app-header>
    
    <div class="content">
        <div class="content-header" fxLayout fxLayoutAlign="space-between center">
            <div>Profile</div>
            <div> 
                <button mat-icon-button *ngIf="editProfile == false" (click)="editProfile = true"><mat-icon>edit</mat-icon></button> 
                <button mat-icon-button *ngIf="editProfile == true" (click)="editProfile = false"><mat-icon>close</mat-icon></button> 
            </div>
        </div>

        <div *ngIf="editProfile == false" class="content-body">
            <div class="label-info">
                <div class="label">Name</div>
                <div class="info">{{ user?.firstName }} {{ user?.lastName }}</div>
            </div>
            <div class="label-info">
                <div class="label">Username</div>
                <div class="info">{{ user?.userName }}</div>
            </div>
            <div class="label-info">
                <div class="label">Password</div>
                <div class="info">{{ user?.password }}</div>
            </div>
        </div>
        
        
        <div fxLayout *ngIf="editProfile == true" class="content-body">
            

            <form fxFlex="100" fxLayout="row wrap" name="profileForm" [formGroup]="profileForm" novalidate>
                <mat-form-field fxFlex="100" appearance="outline">
                  <mat-label>First name</mat-label>
                  <input matInput placeholder="First name" formControlName="firstName">
                </mat-form-field>
              
                <mat-form-field fxFlex="100" appearance="outline">
                  <mat-label>Last name</mat-label>
                  <input matInput placeholder="Last name" formControlName="lastName">
                </mat-form-field>

                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" formControlName="userName">
                </mat-form-field>

                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                </mat-form-field>

                <!-- <mat-radio-group aria-label="Select an option" fxLayout fxLayoutGap="16px" formControlName="role">
                    <mat-radio-button value="1">Admin</mat-radio-button>
                    <mat-radio-button value="2">User</mat-radio-button>
                </mat-radio-group> -->
                
                <div id="btn-wrapper">
                    <button mat-raised-button color="primary" (click)="updateProfile()">Update</button>
                </div>
              </form>


        </div>





    </div>
</div>

<!-- <button (click)="sendData()">send</button> -->
